[submodule "ecosystem/solana-spl-token/upstream"]
	path = ecosystem/solana-spl-token/upstream
	url = https://github.com/solana-program/token
[submodule "ecosystem/solana-associated-token-account/upstream"]
	path = ecosystem/solana-associated-token-account/upstream
	url = https://github.com/solana-program/associated-token-account
[submodule "ecosystem/solana-memo/upstream"]
	path = ecosystem/solana-memo/upstream
	url = https://github.com/solana-program/memo
[submodule "ecosystem/solana-compute-budget/upstream"]
	path = ecosystem/solana-compute-budget/upstream
	url = https://github.com/solana-program/compute-budget
[submodule "ecosystem/solana-token-2022/upstream"]
	path = ecosystem/solana-token-2022/upstream
	url = https://github.com/solana-program/token-2022
[submodule "ecosystem/solana-stake/upstream"]
	path = ecosystem/solana-stake/upstream
	url = https://github.com/solana-program/stake
